<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<main>
  <div *ngIf="!showAddCourse">
    <search (search)="onSearch($event)" (addCourse)="onAddCourse()"></search>
    <section>
      <course-list [courses]="courses | search: searchValue"></course-list>
      <div class="showMore" *ngIf="page.current!==page.total">
        <button mat-button (click)='onShowMore()' >Show More</button>
      </div>
    </section>
  </div>
  <add-course *ngIf="showAddCourse" (save)="onSave($event)" (cancel)="onCancel()"></add-course>
</main>
<app-footer></app-footer>
