header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B2DFDB;
}

header .logo {
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
    margin-right: 20px;
}

header h1 {
    font-weight: 400;
}
