<!--The content below is only a placeholder and can be replaced.-->
<div class="course block">
  <div class="info">
    <div class="headerInfo">
      <div>
        <h2>{{ course.title }}</h2>
        <div>{{ ((course.duration - course.duration % 60) ? (course.duration -course.duration % 60) / 60 + ' h ':'') + course.duration % 60  + ' min'}} </div>
      </div>
      <div>{{ course.date | date:'dd/MM/yyyy' }}</div>
    </div>
    <div>{{ course.description }}</div>
  </div>

  <div class="actions">
    <button mat-raised-button>Edit cource</button>
    <button mat-raised-button (click)="onDelete();">Delete</button>
  </div>
</div>
