fieldset {
  border:0;
}

div {
  background: none !important;
  box-shadow: none !important;
  margin: 0 auto;
}
label {
  margin-right: 20px;
}
div.row span.error{
  position: absolute;
}

div div.row {
  text-align: right;
  align-items: center;
  margin-bottom: 25px;
  width: 500px;
}
.active {
  width: 300px;
  margin: 0;
}
