/* You can add global styles to this file, and also import other style files */
.block {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #E7ECF0;
}

.block-margin {
  margin-bottom: 10px;
}

textarea, input {
  margin-right: 10px;
}
input {
  height: 24px;
}


//////////////////////
header, footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

header {
  top: 0;
  height: 50px;
}

footer {
    bottom: 0;
    margin-bottom: 0!important;
    height: 30px;
}

main {
  margin-top: 80px;
  margin-bottom: 60px;
}
