/* You can add global styles to this file, and also import other style files */
.block {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #E0F2F1;
}

.block-margin {
  margin-bottom: 10px;
}


//////////////////////
header, footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

header {
  top: 0;
}

footer {
    bottom: 0;
    margin-bottom: 0!important;
}

main {
  margin-top: 80px;
}
